```scss
.accordion {
  display: block;
  width: 100%;
}

.wrapper {
  @include anim__fade-sequence(
    $count: 3,
    $direction: 'down',
    $duration: 1200ms,
    $override: true
  );
}

.item {
  overflow: hidden;
}

.title {
  @extend %h3;
  margin: 0;
  width: 100%;
  max-width: 775px;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  border-top: 1px solid $v3-n200;
  padding: 40px 0 0 0;
  margin: 0 0 50px 0;

  @include responsive(sm) {
    gap: 20px;
    padding: 25px 0 0 0;
    margin: 0 0 25px 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border: 1px solid $v3-brand;
  border-radius: 8px;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-image: url('./assets/simple-accordion-expand-black.svg');
    transition: all 0.5s $ease-out-quint;
  }

  &.isActive {
    &::after {
      transition: all 0.5s $ease-out-quint;
      transform: rotate(90deg);
      background-image: url('./assets/simple-accordion-collapse-black.svg');
    }
  }

  :global(.v3-dark-bg) & {
    &::after {
      background-size: contain;
      background-image: url('./assets/simple-accordion-expand-white.svg');
    }

    &.isActive {
      &::after {
        transition: all 0.5s $ease-out-quint;
        transform: rotate(90deg);
        background-image: url('./assets/simple-accordion-collapse-white.svg');
      }
    }
  }

  @include responsive(sm) {
    min-width: 32px;
    height: 32px;

    &::after {
      width: 8px;
      height: 8px;
    }
  }
}

.desc {
  @include applyV3Typography;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 510px;
  height: auto;
  padding: 0;
  transform-origin: top;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s $ease-out-quint;

  a {
    @extend %a;
  }

  & * {
    margin: 0;
  }

  &.isActive {
    margin-bottom: 50px;
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.5s $ease-out-quint;

    @include responsive(sm) {
      margin-bottom: 25px;
    }
  }
}

:global(.protect-page) {
  .button {
    border-color: $v3-brand-blue;
  }

  .title {
    @extend %h4;
  }

  .desc {
    font-size: 18px;
  }
}
```